body,
html {
  height: 100%;
}
body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-image: url("https://source.unsplash.com/random/1000x1000");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
h1 {
  font-size: 4rem;
  color: black;
  background-color: white;
}
button {
  margin-top: 2em;
  padding: 0.5em;
  color: darkmagenta;
  font-size: 1.5rem;
  font-family: Arial;
  font-weight: 900;
  background: rgba(0,0,0,0.5);
}
#quoteDisplay {
  font-size: 2rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkgreen;
  height: 4em;
  background-color: white;
}
